<div class="card border-secondary">
  <div class="card-header">Category</div>
  <div class="card-body text-secondary">
    <div *ngIf="categories.length==0" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div *ngIf="categories.length>0">
      <h3 *ngFor="let item of categories">
        <strong>
          <a [routerLink]="['/category',item.name,item.id]" class="btn btn-link" style="color: rgb(0, 0, 207);"><i
              class="fa fa-arrow-circle-right"></i> {{item.name}}</a>
        </strong>
      </h3>
    </div>
  </div>
</div>
